*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
scroll-behavior: smooth;
font-family: "Poppins",sans-serif;
}
:root{
    --bg-color: #f6f6f6 ;
    --main-color: #f57236;
    --hover-color: #8a2be2;
    --text-color: #000000;
    --sec-text-color: #2a2a2a;
    --big-text : 5rem;
    --med-text : 2.5rem;
    --p-text : 1.2rem;
    --logo-font: 1.6rem;
    --nav-font : 1.2rem;
}
body{
    background: var(--bg-color);
}
section{
    padding: 3rem 12rem;
}
header{
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 12rem;
    padding: 1.8rem;
}
.logo h1{
    color: var(--text-color);
    font-size: var(--logo-font);
    font-weight: 700;
    text-shadow: 0px 1px 2px var(--text-color);
    cursor: pointer;
}
.logo span{
    color: var(--main-color);
    text-shadow: 0px 1px 2px var(--main-color);

}
.navbar{
    display: flex;
    gap: 2rem;
    transition: all ease .5s;
}
.navbar a{
    font-size: var(--nav-font);
    color: var(--text-color);
    font-weight: 500;
    transition:.3s;
}
.navbar a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.home-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.home-section img{
    position: relative;
    width: 32vw;
    cursor: pointer;
}
.home-content h2{
    color: var(--main-color);
    font-size: var(--med-text);
    font-weight: 600;
}
.home-content h1{
    color: var(--text-color);
    font-size: var(--big-text);
    font-weight: 800;
    line-height: 5rem;
}
.home-content span{
    color: var(--main-color);
    font-weight: 600;
}
.home-content p,
.passion-section p
{
    color: var(--sec-text-color);
    font-size: var(--p-text);
    margin: 1rem 0 3rem 0;
}
.btn{
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 14px 18px;
    margin-right: 3rem;
}
.home-content a, .about-content a{
    color: #fff;
    font-size: var(--p-text);
    font-weight: 500;
    transition: .5s;
}
.home-content a:hover,
.about-content a:hover
{
    background: var(--hover-color);
}
.about-section{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
}
.about-img img{
    position: relative;
    width: 32vw;
    cursor: pointer;
}
.about-content h3{
    color: var(--sec-text-color);
    font-size: var(--p-text);
    font-weight: 400;
    padding: 4.8rem 0 1rem 0;
}
.about-content span{
    color: var(--main-color);
}
.about-content h2{
    color: var(--text-color);
    font-weight: 600;
    font-size: var(--med-text);
    text-transform: uppercase;

}
.about-content p{
    color: var(--sec-text-color);
    font-size: var(--p-text);
    font-weight: 400;
    padding: 2rem 0;
}
.all-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.all-container img{
    position: relative;
    width: 32vw;
    cursor: pointer;
    padding-top: 80px;
}
.skills-container{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skill{
    border: 2px solid var(--main-color);
    border-radius: .5rem;
    padding: 2rem;
    box-shadow: 1px 1px 5px var(--main-color);
}
.skill h4{
    color: var(--text-color);
    font-size: var(--nav-font);
    font-weight: 600;
}
.skill p{
    color: var(--text-color);
    font-size: var(--p-text);
    font-weight: 400;
}
#icon2{
    padding: 1.5rem 0;
    color: var(--main-color);
    font-size: var(--big-text);
}
.skills-section h2,
.passion-section h2,
.contact-section h2
{
    padding-top: 50px;
    font-size: var(--med-text);
    color: var(--text-color);
    font-weight: 600;
    text-align: center;
}
.photos-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.photos-container img{
    position: relative;
    width: 16vw;
    cursor: pointer;
    border-radius: 10px;
}

.contact{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}
.contact .mail,.number{
    background: var(--main-color);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.contact h4{
    font-size: 2rem;
    color: #fff;
}
.contact1 p{
    font-size: 1.4rem;
    color: #fff;
}
.contact2{
    background: var(--main-color);
    border-radius: 10px;
    padding: 60px;
    margin: 20px;
}

.contact2 h4{
    font-size: 1.8rem;
}
.p{
    color: var(--text-color);
}

#icon3{
    color: #fff;
    font-size: var(--big-text);
}
footer{
    padding: 20px 0;
    border-top: 1px solid #a4a4a4;
    border-bottom: 1px solid #a4a4a4;
}
footer h4{
    color: var(--text-color);
    text-align: center;
    font-size: .938rem;
    font-weight: 400;
}


/* RESPONSIVENESS STARTS HERE */ 



@media(max-width:1360px){
    :root{
        --big-text : 5.5rem;
        --med-text : 3rem;
        --p-text : 1.2rem;
        --logo-font : 2rem;
        --navafont : 1.4rem;
       
    }
}

@media(max-width:1200px){
    
    :root{
        --big-font : 5rem;
        --med-font : 2.8rem;
        --text-font : 1.2rem;
        --logo-font : 2rem;
        --navafont : 1.4rem;
    }
}

@media(max-width:1160px){

    section{
        padding: 3rem 8rem;
    }
    
    .contact{
        display: block;  
    }
    .about{
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }
    .about-content-2{
        display: flex;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 4rem;
        padding: 1.8rem;
    }
}


@media(max-width:950px){
    .header{
        padding: 1.3rem;
        
    }
    :root{
        --big-font : 4rem;
        --med-font : 2.4rem;
        --text-font : 1rem;
        --logo-font : 1.6rem;
        --navafont : 1.4rem;
    }

.home-section{
    display: flex;
    flex-direction: column;
}

.home-content{
    order: 2;
    padding-top: 0;
}
    .home-img img{
        max-width: 450px;
        width: 100%;
        height: auto;
    }
    .about-section{
        display: flex;
        gap: 0;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .about-img img{
        order: 1;
        max-width: 450px;
        width: 100%;
        height: auto;
    }
    
    .skills-container{
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .all-container{
        display: flex;
        flex-direction: column;
    }
    #image{
        max-width: 450px;
        width: 100%;
        height: auto
    }
    
.photos-container{
    display: grid;
    grid-template-columns:  1fr;
    gap: 2rem;
    place-items: center;
}
.photos-container img{
    width: 320px;
}
}



@media(max-width:850px){ 

    .contact h4{
    font-size: 1.7rem;
}
    .contact p{
    font-size: 1rem;
}  
}

@media(max-width:800px){

    header{
        margin: 0;
    }
    section{
        padding: 3rem 2rem;
    }
    .about-content-2{
        display: flex;
        flex-direction: column;
    }
    .btn{
        margin-right: 1rem;
    }
    
}
